<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Printer Setting
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>
        Bluetooth List
      </ion-label>
      <ion-select #printerSelect ok-text="Confirm" cancel-text="Cancel" [compareWith]="compareWith" slot="end"
      (ionChange)="selectPrinter(printerSelect.value)">
      <ion-select-option [value]="item.id"  *ngFor="let item of bluetoothList; let i = index;">
        <p>{{item.name}}</p>
      </ion-select-option>
    </ion-select>
    </ion-item>
    </ion-list>

    <ion-button expand="block" color="success" (click)="save()">
    Save
    </ion-button>

</ion-content>
